* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #ffed99; 
    padding: 15px 0;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-size: 1.5rem;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }

nav a:hover {
    color: #0096c7; 
    border-bottom: 1px solid black;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px;
}

h2, h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.content p {
    flex: 1;
    color: #1e2a36; 
    line-height: 1.8;
    padding: 10px;
}

.image-container {
    width: 150px;
    height: 150px;
}

.image-container img {
    width: 120%;
    height: 120%;
    object-fit: cover;
}

.reverse {
    flex-direction: row-reverse;
}

.buttons button {
    align-items: center;
    background-color: #87cefa;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.buttons button:hover {
    align-items: center;
    background-color: #0096c7;
}

main {
    padding: 20px;
}

.form-container {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

footer {
    background-color: #FFECB3;
    padding: 10px;
    align-items: center;
}


